.empDashbord {
  display: flex;
  height: 88vh;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: white;
  padding: 0 4rem;
}

.navbar p {
  font-size: 1em;
  padding-top: 1rem;
  font-weight: 500;
  margin-right: 2rem;
}

.navbar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: -20px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sidebar-container {
  width: 20%;
  background-color: rgb(244, 244, 247);
  height: 88vh;
  padding-top: 1px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 100%;
}

.sidebar p {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
  border-left: 5px solid rgb(255, 255, 255);
}

.sidebar p:hover {
  cursor: pointer;
  border-radius: 8px;
  border-left: 5px solid rgb(6, 245, 245);
  background-color: rgb(234, 234, 238);
}

.hero-container {
  width: 80%;
  padding: 2rem;
  /* background: url("./assets/grid.png"); */
  background-color: rgb(244, 244, 247);
}

.hero-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: -10px;
}
.hero-container img {
  width: 74%;
  height: 10rem;
  border-radius: 8px;
}

.emp-hero-text {
  height: 10rem;
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  padding-left: 3rem;
  font-weight: 400;
}

.emp-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.3rem;
  gap: 1.1rem;
}

.emp-description div {
  width: 33%;
  height: 55vh;
  background-color: white;
  border-radius: 8px;
}
